
Calibration/A1_Calibration_Code/cmake-build-debug/.ninja_deps
Calibration/A1_Calibration_Code/cmake-build-debug/.ninja_log
Calibration/A1_Calibration_Code/cmake-build-debug/bin/Calibration.ilk
Calibration/A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/vc140.pdb
Calibration/A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/vc140.pdb
Calibration/A1_Calibration_Code/cmake-build-debug/.ninja_log
Calibration/A1_Calibration_Code/cmake-build-debug/bin/Calibration.pdb
Calibration/A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/calibration_method.cpp.obj
Calibration/A1_Calibration_Code/cmake-build-debug/Testing/Temporary/LastTest.log
Calibration/A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2c6cf648e933e479eefc.json
Calibration/A1_Calibration_Code/cmake-build-debug/.ninja_log
Calibration/A1_Calibration_Code/cmake-build-debug/bin/Calibration.exe
Calibration/A1_Calibration_Code/cmake-build-debug/bin/Calibration.exe
Calibration/A1_Calibration_Code/cmake-build-debug/.ninja_log
Calibration/A1_Calibration_Code/cmake-build-debug/bin/Calibration.pdb
Calibration/A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/calibration_method.cpp.obj
Calibration/A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/vc140.pdb
Calibration/A1_Calibration_Code/cmake-build-debug/Testing/Temporary/LastTest.log
Calibration/A1_Calibration_Code/cmake-build-debug/.ninja_deps
Calibration/A1_Calibration_Code/cmake-build-debug/.ninja_log
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/cache-v2-47052e25be07df215eab.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-45616135eb6990c965e3.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-079d1bdf900fe6cccffd.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-3rd_party-Debug-c5a5201ee6026dcfec41.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-3rd_party.glew-Debug-38f3dd21b9258f3be404.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-3rd_party.glfw-Debug-e5b4b31e2f4169eb3d81.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-3rd_party.glfw.src-Debug-7a0af1aa392b1825b126.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-3rd_party.glog-Debug-5269894a932449cc415c.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-Calibration-Debug-ebee2cdbe48ca5d73054.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-easy3d-Debug-1725198696594f4d80cf.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-easy3d.core-Debug-2c41456c540c039ef378.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-easy3d.fileio-Debug-b15e6ce9cb06219b5d93.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-easy3d.util-Debug-c56ae297e8319ee4fa17.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/directory-easy3d.viewer-Debug-d279bb8440a98cfe651e.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/index-2024-05-06T13-26-02-0522.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/target-3rd_glew-Debug-44c41692f9ece0754c71.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/target-3rd_glfw-Debug-49c2842b7edfa78f6859.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/target-3rd_glog-Debug-62baabb334753d90482a.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/target-Calibration-Debug-269c735f33aaba3f9e41.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/target-easy3d_core-Debug-ecdb3ccaee62cce90bfc.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/target-easy3d_fileio-Debug-3c78074083d20c23eb72.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/target-easy3d_util-Debug-3c261af67b2f59d34493.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/target-easy3d_viewer-Debug-5f5f4a9256d45bf199cf.json
A1_Calibration_Code/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2cf85759ed7366e3fb09.json
A1_Calibration_Code/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.exe
A1_Calibration_Code/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.obj
A1_Calibration_Code/cmake-build-debug/Testing/Temporary/LastTest.log
A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/vc140.pdb
A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/calibration_method.cpp.obj
A1_Calibration_Code/cmake-build-debug/bin/Calibration.pdb
A1_Calibration_Code/cmake-build-debug/bin/Calibration.ilk
A1_Calibration_Code/cmake-build-debug/bin/Calibration.exe
A1_Calibration_Code/cmake-build-debug/.ninja_log
A1_Calibration_Code/cmake-build-debug/.ninja_deps
A1_Calibration_Code/cmake-build-debug/.ninja_log
A1_Calibration_Code/cmake-build-debug/bin/Calibration.exe
A1_Calibration_Code/help to reports.docx
A1_Calibration_Code/~$lp to reports.docx
A1_Calibration_Code/cmake-build-debug/.ninja_deps
A1_Calibration_Code/cmake-build-debug/.ninja_log
A1_Calibration_Code/cmake-build-debug/bin/Calibration.exe
A1_Calibration_Code/cmake-build-debug/bin/Calibration.ilk
A1_Calibration_Code/cmake-build-debug/bin/Calibration.pdb
A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/calibration_method.cpp.obj
A1_Calibration_Code/cmake-build-debug/Calibration/CMakeFiles/Calibration.dir/vc140.pdb
A1_Calibration_Code/cmake-build-debug/Testing/Temporary/LastTest.log
*.pdb
A1_Calibration_Code/cmake-build-debug/Testing/Temporary/LastTest.log
A1_Calibration_Code/cmake-build-debug/Testing/Temporary/LastTest.log
*.internal
*.cmake
*.internal
*.cbp
*.rsp
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/cmake.check_cache
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/clion-environment.txt
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.obj
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.exe
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.obj
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.exe
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
A2_Triangulation_Code/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
A2_Triangulation_Code/cmake-build-debug/CMakeCache.txt
A2_Triangulation_Code/cmake-build-debug/3rd_party/glfw/src/glfw_config.h
A2_Triangulation_Code/cmake-build-debug/3rd_party/glfw/src/glfw3.pc
A2_Triangulation_Code/.idea/vcs.xml
A2_Triangulation_Code/.idea/modules.xml
A2_Triangulation_Code/.idea/misc.xml
A2_Triangulation_Code/.idea/A2_Triangulation_Code.iml
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/.idea/vcs.xml
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/.idea/Tutorial_NonlinearLeastSquares.iml
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/.idea/modules.xml
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/.idea/misc.xml
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/build.ninja
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeCache.txt
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.exe
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.obj
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.exe
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.obj
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/clion-environment.txt
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/cmake.check_cache
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/rules.ninja
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
A2_Triangulation_Code/Tutorial_NonlinearLeastSquares/cmake-build-debug/CMakeFiles/TargetDirectories.txt
